<form (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput [formControl]="title" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <input matInput [formControl]="description" />
  </mat-form-field>
  <br />
  <mat-form-field appearance="fill">
    <mat-label>Due Date</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="due" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br />
  <button
    mat-flat-button
    color="accent"
    type="submit"
    [disabled]="task?.complete"
  >
    {{ action }}
  </button>
</form>
